html {
  font-size: 24px;
}

body {
  background: black;
  color: white;
  text-align: center;
  /* font-family: Arial; */
  overflow: hidden;

  --animate-time: 0.5s;
  --bubble-radius: 5rem;
}

/* headers & fonts*/

h1, h2, h3, h4, p, li, div {
  cursor: default;
}

h1, h2, h3, h4, div {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 16rem;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

li {
  color: rgba(255, 255, 255, 0);
  transition: color 0.5s 0.3s linear;
  font-size: 1rem;
  list-style-type: none;
}

a {
  color: #0814fd;
  transition: color 0.25s linear;
}

div {
  font-weight: 400;
}

a:hover {
  color: #fd08dc;
}

/* sections */

.slide {
  animation: blinkon var(--animate-time) linear;
  position: absolute;
  display: none;
  border-radius: 3%;
  width: 80%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  /* border: 1px solid white; */
  background: rgba(0, 0, 0, 0.75)

}

.active {
  display: flex;
}

.hello {
  /* height: 100%; */
}

.intro {
  justify-content: space-around;
}

.name-banner {
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
  height: 33%;
  width: 100%;
  justify-content: space-around;

}

.two-column {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* align-items: space-between; */
  /* border: 1px solid green; */
  /* justify-content: center; */
  align-items: center;
}

.facts {
  /* border: 1px solid pink; */
  width: 33%;

}

.facts p {
  margin-bottom: 11%;

}

.mike-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.mike-container img {
  /* width: 25%; */
  width: 100%;
  height: auto;
  /* border: 1px solid yellow; */
  /* display: inline; */
}

.mike-container p {
  /* border: 1px solid blue; */
  margin-top: 1rem;
}

.tech-section {
  /* border: 1px solid green; */
  align-items: center;
  justify-content: flex-start;
}

.tech-section h3 {
  margin-top: 0.25rem;
}

.tech-section p {
  margin-top: 0.75rem;
}

.tech-list {
  margin-top: 2rem;
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: center;
  justify-items: start;
  display: grid;
  grid-template-columns: .33fr .33fr .33fr;
  grid-template-rows: 1fr 1fr;
  /* border: 1px solid white; */
  width: 100%;
  /* height: 50%; */
}

.projects {
  justify-content: flex-start;
  /* height: 100%; */
}

.contact {
  justify-content: space-around;
}

/* buttons & more! */

.button {
  border-radius: 5%;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: white 0 0.25rem 0 0;
  transition: background-color 0.2s linear;
}

.button:hover, .arrow:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.deirdre-zone {
  /* animation: deirdrebuttongrow var(--animate-time) linear; */
  width: 12rem;
  height: 6rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.more {
  width: 15rem;
  height: 3rem;
  /* margin-left: 10%; */
  margin-bottom: 0.5rem;
}

.projects-button {
  /* position: absolute; */
  /* bottom: 0.75rem; */
  margin-top: 3rem;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.projects-button-container {
  display: flex;
  width: 100%;
  /* border: 1px solid blue; */
  justify-content: center;

}

.contact-button {
  margin: 1rem;
  width: 40%;
  height: 3.5rem;
}

.restart {
  width: 30%;
  height: 3rem;
  font-size: 1.5rem;
}

/* tech node apparatus */

.node-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.node {
  /* border: 1px solid white; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.group ul {
  margin-left: 1rem;
}

.lang-node {
  --d: 2rem; /* image size */
  --rel: 6;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.front-node {
  --d: 2rem; /* image size */
  --rel: 1;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.back-node {
  --d: 2rem; /* image size */
  --rel: 0.75;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.test-node {
  --d: 2rem; /* image size */
  --rel: 2;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.misc-node {
  --d: 2rem; /* image size */
  --rel: 1;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.games-node {
  --d: 2rem; /* image size */
  --rel: 6;
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  width: var(--s);
  height: var(--s);
}

.bubble {
  display: none;
  animation: bubble-grow 0.25s linear;
  /* border: 1px solid green; */
  font-size: 0.90rem;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #5D527C;
  /* color: rgb(0, 0, 0); */
  z-index: 2;
  transition: background-color 0.5s linear,
              font-size 0.5s linear,
              box;
}

.bubble:hover {
  background-color: #4c4466;
  font-size: 1rem;
}

.icon {
  /* animation: 0.5s ease-in alternate popout; */
  opacity: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: none;
  transition: transform 0.5s ease-in, opacity 0.45s ease-in;
}

.lang-node:hover .lang {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

.front-node:hover .front {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

.back-node:hover .back {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

.test-node:hover .test {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

.misc-node:hover .misc {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

.games-node:hover .game {
  opacity: 1;
  display: inline;
  /* top: 50%; */
  /* left: 50%; */
  margin: calc(-.5*var(--d));
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
}

/* Project slideshow! */

.carousel-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid pink; */
  overflow-y: hidden;

}

.carousel {
  /* border: 1px solid green; */
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  /* overflow-y: hidden; */
}

.arrow {
  transition: background-color 0.2s linear;
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 15%;
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* height: auto; */
}

.project-title {
  margin-top: 0;
  transition: font-size 0.1s ease-out;
}

.project-info {
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  overflow: hidden;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid green; */
}

.read-more {
  transition: font-size 0.1s ease-out, color 0.25s linear;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.project-info h3, p {
  margin-left: 1rem;
  text-align: left;
}

.project-info h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.project-description {
  transition: font-size 0.1s ease-out;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid grey;
}

.display-description {
  transform: scaleY(1);
}

.scroll-container {
  margin-top: 1.25rem;
  transition: height 0.2s ease-out;
  /* transform: scaleY(0); */
  overflow-y: auto;
  height: 0%;
  /* border: 1px solid magenta; */
}

.project-commentary {
  padding-right: 0.5rem;
}

/* Contact Page */

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 33%;
}

.attribution {
  position: absolute;
  bottom: 0.1rem;;
  left: 0.5rem;
  font-size: 0.75rem;
}

/* animations */

@keyframes blinkon {
  from {
    transform: scale(0)
               translate(-50%, -50%);
  }

  to {
    transform: scale(1)
               translate(-50%, -50%);
  }
}

@keyframes flydown {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, 100%);
  }
}

@keyframes bubble-grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* media queries */

@media screen and (max-width: 1200px) {
  .tech-section {
    width: 100%;
  }
}

@media screen and (max-width: 1124px) {
  .name-banner h2 {
    font-size: 3rem;
  }

  .name-banner h3 {
    font-size: 1.5rem;
  }

  .facts p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 975px) {
  html {
    font-size: 14px;
  }

  .carousel {
    width: 84%;
  }

  .facts p {
    font-size: 1.25rem;
  }

  .mike-container {
    width: 42%;
  }
}

@media screen and (max-width: 700px) {

  .tech-section {
    /* height: 300%; */
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tech-list {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid teal; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    /* align-items: center; */
    justify-items: center;
  }

  .group {
    display: grid;
    /* justify-content: space-around; */
    /* align-items: center; */
    grid-template-columns: .33fr .33fr;
    padding: 3rem 0;
    margin-left: 20%;
    /* margin-right: 5rem; */
  }
  
  .bubble {
    font-size: 1.25rem;
  }

  .projects-button {
    position: inline;
  }

  body {
    --bubble-radius: 10rem;
  }

  li {
    font-size: 1.5rem;
  }

  .projects-button {
    width: 12rem;
    height: 3.75rem;
    margin-bottom: 1rem;
  }

  /* TECH SECTION APPARATUS */

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .lang-node {
    --d: 3rem;
  }

  .front-node {
    --d: 3rem;
  }

  .back-node {
    --d: 3rem;
  }

  .test-node {
    --d: 3rem;
  }

  .misc-node {
    --d: 3rem;
  }

  .games-node {
    --d: 3rem;
  }

}

@media screen and (max-width: 570px) {
  html {
    font-size: 10px;
  }

  p {
    font-size: 1.25rem;
  }

  .facts p {
    font-size: 1.5rem;
  }

  .mike-container {
    width: 54%;
  }

  .two-column {
    flex-direction: column;;
  }

  .name-banner {
    width: 80%;
  }

  .facts {
    display: flex;
    flex-directiOn: column;
    /* border: 1px solid green; */
    width: 60%;
  }

  .more {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .slide {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 410px) {
  html {
    /* font-size: 6px; */
  }

  h1 {
    font-size: 10rem;
  }

  .slide {
    width: 100%;
  }

  .deirdre-zone {
    margin-top: 2rem;
    width: 14rem;
    height: 8rem;
    font-size: 3rem;
    padding: 2.5rem;
  }

  .more {
    margin-top: 1rem;
  }

  .projects-button {
    font-size: 2rem;
    width: 22rem;
    height: 4.75rem;
  }
}